.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-height: 90vh; /* Establece una altura máxima del 90% del viewport height */
    overflow: auto; /* Agrega una barra de desplazamiento si el contenido excede la altura máxima */
}

.modalContent img {
    width: 100%;
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción original */
    max-height: 100%; /* Establece una altura máxima del 100% del contenedor */
}

.modalContent video {
    width: 100%;
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción original */
    max-height: 100%; /* Establece una altura máxima del 100% del contenedor */
}

img{
    width: 200px;
}

video{
    width: 200px;
}
