.div{
    height: 75px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}

.content{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    height: 50px;
    line-height: 75px;
    margin: 0;
}

h1 img{
    height: 50px;

}

.nav{
    margin-left: auto;
    margin-right: 0;
    line-height: 75px;
}

@media (max-width: 1025px){
    .content{
        width: 90%;
    }
}

@media (max-width: 721px){
    .content{
        width: 90%;
    }
}