.div{
    margin-bottom: 2rem;
    padding-bottom: .75rem;
    width: 100%;
    text-align: right;
    border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
}

.div .filter select{
    margin-left: 0.5rem;
    font-size: 12px;
    font-weight: 300;
    padding: 0.1rem;
}

.div .filter p{
    display: inline-block;
    font-size: 12px;
    color: #1A1A1A;
}

.div .filter{
    width: fit-content;
    display: inline;
    margin-left: 1.5rem;
}