.div{
    height: 650px;
    width: 100%;
    position: relative;
}

.div .bgImg{
    position: absolute;
    z-index: 1;
}

.bgImg img{
    width: 100%;
}

.content{
    width: 1140px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.image{
    width: 50%;
    margin-left: 4rem;
}

.image img{
    width: 20rem;
}

.info{
    width: 50%;
    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;
}

.info h2{
    color: #FCDC5B;
    font-size: 36px;
    border-bottom: 2px solid #FCDC5B;
    width: 80%;
    padding-bottom: 0.75rem;
}

.info p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}