.banner{
    width: 100%;
    height: 500px;
}

.banner1, .banner2{
    height: 500px;
}

.banner1bg, .banner2bg{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.banner1bg img, .banner2bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner1render{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: 100%;
}

.banner1render img{
    height: 100%;
    object-fit: cover;
}

.banner1logo{
    width: 7rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 3;
}

.banner1text{
    position: relative;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    z-index: 4;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner1text h3{
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
}

.banner1 .price{
    margin: 0;
    color: #FCDC5B;
    font-size: 50px;
    font-weight: 500;
    border-bottom: white solid 2px;
    width: 35%;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.banner1 .text{
    margin: 0;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.banner .number{
    margin: 0;
    margin-top: 2rem;
}

.banner1 p a{
    text-decoration: none;
    color: #FCDC5B;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

.banner1 p a:hover{
    text-decoration: underline;
}

.banner2 .content{
    position: relative;
    z-index: 3;
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.banner2 .vector{
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
}

.banner2 .contentImg{
    height: 475px;
    position: absolute;
    left: -5rem;
    bottom: 0;
}

.banner2 .contentImg img{
    height: 100%;
    object-fit: cover;
}

.banner2 .contentText{
    position: absolute;
    bottom: 2rem;
    right: 0;
    width: 50%;
}

.banner2 .textBlue{
    color: #0A499A;
    text-align: right;
    font-size: 24px;
    border-bottom: #0A499A 2px solid;
    padding-bottom: 1rem;
}

.banner2 .textBlue a{
    font-style: italic;
    color: #0A499A;
    text-decoration: none;
}

.banner2 .textBottom{
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

.banner2 .textBottom p{
    color: #666666;
    font-size: 21px;
}

.banner2 .textRed{
    letter-spacing: 0.15rem;
    color: #F43536;
    font-size: 33px;
}

.banner2 .contentLogo{
    width: 5rem;
    margin-left: 1.5rem;
}

